/*ESTRUCTURA*/
* {box-sizing: border-box; }

:root { 
	font-size: 16px;
}

.bgGris {
	background-color: #E6E7E8;
}

.bgVioletaO {
	background: #6A67CE;
}

body {
   font-family: 'Lato';
   background: #F0F0F0;
   margin: 0;
   padding-top:50px;
   position: relative;
}

ul li a {
	text-decoration: none;
	color: #F0F0F0;	
}

ul {
	list-style: none;
}


p {
	margin-bottom: 16px;
	margin-top: 0;
	color: #3B3B3B;
    line-height: 1.6;
}

h1 { 
	font-size: 40px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 8px; 
	margin-top: 5px;
	color:#3B3B3B;
}

h2 {
	text-transform:uppercase;
	font-family:'Francois One';
	font-size: 35px;
}

h3 {
	font-size:25px;
}

h4 {
	font-size:20px;
}

i {
	color: black;
}

em, strong, u {
	color:#6A67CE;
}

section {  
	display: block;
	color: #fff;
	padding: 20px;
}
 
 .container {
 	margin:auto;
 	width: 1200px;
 }



.gridAreaMenu {
	display: grid;
	grid-gap: 10px;
 	width: 1200px;

	grid-template-columns: 370px 370px 370px; 
	grid-template-rows: 150px ;
	grid-template-areas: 
		"header   header    header ";
		
	align-items: stretch;
	justify-items: stretch;
}

.gridAreaMenu {grid-area: header;}




/*----------------INDEX----------------*/

.gridArea {
	display: grid;
	grid-gap: 10px;
 	width: 1200px;

	grid-template-columns: 370px 370px 370px; 
	grid-template-rows:  600px 200px 1fr 400px 100px;
	grid-template-areas: 
		"slider   slider    slider"
		"actUno   actDos    actTres"
		"nosUno   nosUno    nosDos"
		"comboUno comboDos  comboTres"
		"footer   footer    footer ";
	align-items: stretch;
	justify-items: stretch;
}

.gridArea .itemD {grid-area: slider;}
.gridArea .itemG {grid-area: actUno;}
.gridArea .itemH {grid-area: actDos;}
.gridArea .itemI {grid-area: actTres;}
.gridArea .itemJ {grid-area: nosUno;}
.gridArea .itemK {grid-area: nosDos;}
.gridArea .itemM {grid-area: comboUno;}
.gridArea .itemN {grid-area: comboDos;}
.gridArea .itemÑ {grid-area: comboTres;}
.gridArea .itemO {grid-area: footer;}



/*HEADER*/

.itemA {
	display: flex; 
	background-color: #6A67CE;
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	margin:0;	
	padding-top: 1rem;
	padding-bottom: 1rem;
	justify-content: center;
	align-items: center;
}


.imagenCircular {
	border-radius: 150px;
	height: 120px;
	width: 120px;
	justify-items: center;
}


.listaMenu {
	display: flex;
	justify-content: space-between;
	font-size: 15px; 
	text-decoration: none; 
	text-transform: uppercase;
	list-style: none;
}


 ul.listaMenu li { 
	margin-left: 12px; 
	margin-right: 12px;
	text-decoration: none;
	padding: 3px;
	border: 4px solid #6A67CE;
	background-color:#6A67CE;
	border-radius:10px;
}


 ul.listaMenu li:hover { 
	margin-left: 12px; 
	margin-right: 12px;
	text-decoration: none;
	border: 2px solid #2ABFCA;
	background-color:#2ABFCA;
	border-radius:10px;
	padding: 5px;
}


.searchMenu {
	padding-left: 50px; 
	height: 4rem;
	justify-content:center;
	align-items: center;
	display: flex;
}

.searchMenu input {
	border-radius: 30px;
	height: 2rem;
	border: 2px solid #CECCFF;

}

.buttonMenu {
	height: 2rem;
	margin-left: 0.5rem;
	border-radius: 30px;	
	border: 2px solid #CECCFF;
	cursor: pointer;
}

button.buttonMenu:hover {
	background: #2ABFCA;
	border: 2px solid #2ABFCA;
}

/*actividades*/

.gridArea .itemG {
	margin:auto;
	width: 300px;
	text-align:center;
}

.gridArea .itemH {
	margin:auto;
	width: 300px;
	text-align:center;
} 

.gridArea .itemI {
	margin:auto;
	width: 300px;
	text-align:center;
} 


/*nosotros*/

.imagenNos {
	width: 732px;
}


.botonIzquierda {
	padding-top: 10px;
	padding-bottom:10px;
	padding-right:20px; 
	padding-left:20px;
	border-radius:15px;
	cursor: pointer;
	border: 3px solid #6A67CE;
	font-size: 15px;
	font-weight: bold;
	background:#E6E7E8;
}

.botonIzquierda p {
 	margin:0;
}

button.botonIzquierda:hover {
	background-color: #2ABFCA; 
	border: 3px solid #2ABFCA;

}


.itemK {
	padding-right: 1rem;
	padding-left: 1rem;
}

.itemK .botonIzquierda {
	margin-left:0;
 	display: block;
	
}


/*combos*/

.itemM {
	background-color: white;
	width: 300px;
	height: auto;
	text-align:center;
	padding: 2rem;
	margin: auto;
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2);
}

 .itemN {
	background-color: white;
	width: 300px;
	height: auto;
	text-align:center;
	padding: 2rem;
	margin: auto;
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2);
	
}

.itemN:hover {
	transform: scale(1.1);
	background-color:#CECCFF;
	transition: 1000ms ease-in-out;
}

.itemÑ:hover {
	transform: scale(1.1);
	background-color:#CECCFF;
	transition: 1000ms ease-in-out;
}

.itemM:hover {
	transform: scale(1.1);
	background-color:#CECCFF;
	transition: 1000ms ease-in-out;
}



 .itemÑ {
	background-color: white;
	width: 300px;
	height: auto;
	text-align:center;
	padding: 2rem;
	margin: auto;
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2);
}

 .itemM > p {
	width: 200px;
	margin: auto;
}

 .itemN > p {
	width: 200px;
	margin: auto;
}

 .itemÑ > p {
	width: 200px;
	margin: auto;
}

.tituloCombos {
	text-transform: uppercase;
	font-weight:bold;
	text-align: center;
}

/*footer*/

.itemO {
	width: 100%;
	height: 80px;
	color:#E6E7E8;
	text-transform: uppercase;	
	text-align: center;
	padding: 30px;
	font-weight: bold;
	position: absolute; 
	left:0;
	right: 0;
	bottom: 0;
}


/*----------------PORTFOLIO----------------*/

.GridAreaPortfolio  {
	display: grid;
	grid-gap: 10px;
 	width: 1200px;

	grid-template-columns: 350px 370px 370px; 
	grid-template-rows:  494px 494px 494px 494px 100px;
	grid-template-areas: 
		"portfolio   portfolio  portfolio"
		"portfolio   portfolio  portfolio"
		"portfolio   portfolio  portfolio"
		"portfolio   portfolio  portfolio"
		"footer      footer     footer";
	align-items: stretch;
	justify-items: stretch;
}


.contenedorInd {
	display: grid; 
	grid-gap: 10px;
	border-radius: 10px; 
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: auto;
	justify-content: center;
	padding: 1rem;
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2);
	background-color: #F5F5F5;

    grid-template-rows: 300px 1fr;
    grid-auto-columns: auto;

	grid-template-areas: 
		"imagenesPortfolio"
		"textoImagenesPortfolio";

	align-items: stretch;
	justify-items: stretch;
	
}


.contenedorInd:hover {
	transform: scale(1.1);
	transition: 1000ms ease;
}

.imagenesPortfolio {grid-area: imagenesPortfolio;}

.textoImagenesPortfolio {grid-area: textoImagenesPortfolio;}


.imagenesPortfolio {
	height: 200px;
	justify-content: center;
	display: flex;
	border-radius: 10px; 
}

.imagenesPortfolio:hover {
opacity: .7;
border-radius: 10px; 
}

.imagenesPortfolio img {
	border-radius: 10px;
	height: 300px;
	width: auto;
}

div .textoImagenesPortfolio {
	height: 150px;
	width: 300px ;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	text-align:center;	
}


/*----------------CONTACTO----------------*/


.gridAreaContacto {
	display: grid;
	grid-gap: 10px;

	grid-template-columns: 200px 800px 200px; 
	grid-template-rows: auto 100px;

	align-items: stretch;
	justify-items: stretch;
}


.containerForm {
	background-color:#E6E7E8;
	display: block;
	margin: auto;	
	padding:20px;
	border: 15px solid rgb(106, 103, 206);
	border-radius: 15px;
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2);
}

.flexFormContacto {
	display: flex;

}

.flexFormContacto p {
	margin-bottom: 5px;
}

.nombreForm {
background-color: rgba(106, 103, 206, 0.3);	
padding: 10px;
margin-right:5px;
margin-bottom: 10px;
border-radius: 15px;
}

.telefonoForm {
background-color: rgba(106, 103, 206, 0.3);
padding: 10px;
margin-right:5px;
margin-bottom: 10px;
border-radius: 15px;
}


.emailForm {
	background-color: rgba(106, 103, 206, 0.3);
	padding: 10px;
	margin-right:5px;
	margin-bottom: 10px;
	border-radius: 15px;
}

.estadoCivilForm {
	background-color: rgba(106, 103, 206, 0.3);	
	padding: 10px;
	margin-right:5px;
	margin-bottom: 10px;
	border-radius: 15px;

}

.textareaForm {
	background-color: rgba(106, 103, 206, 0.3);	
	padding: 10px;
	margin-right:5px;
	margin-bottom: 10px;	
	border-radius: 15px;
}

.terminosYcondiciones {
	padding-top:15px;
}

/*----------------NOSOTROS----------------*/

.gridAreaNosotros {
	display: grid;
	grid-gap: 10px;
	
	grid-template-columns: 370px 370px 370px; 
	grid-template-rows:  100px 470px 100px 600px 100px;
}

.gridNosotrosImagen {
	grid-column-start: 1;
	grid-column-end:3;
}

.gridNosotrosTituloN  {
	grid-column-start: 1;
	grid-column-end: span 4;
	justify-content: flex-start;
	align-items: center;
	display:flex;

}

.gridNosotrosTitulo  {
	grid-column-start: 1;
	grid-column-end: span 4;
	align-items: center;
	justify-content: center;
	display:flex;
 }

 .tituloStaff {
 	justify-content: flex-start;
 }


 .gridTituloTexto {
	grid-column-start: 3;
	grid-column-end:4;
}

.GridNosotrosComboUno  i {
	color:black;
	font-size:40px;
}

.GridNosotrosComboTres i {
	color:black;
	font-size:40px;
}


.GridNosotrosComboDos i {
	color:black;
	font-size:40px;
}


.fotoNosotrosDentro {
	border: 10px solid rgb(106, 103, 206);
}


.fotoNosotros {
	display:flex;
	justify-content: center;
	align-items: center;
}

.textofotoDentro {
	width: 300px;
}

.textofotoDentro p {
	text-align: center;
}

.redesNosotros {
display:flex;
align-items: center;
justify-content: center;	
justify-items:space-around;
background-color: rgba(106, 103, 206, 0.3);
}

.terminosYcondiciones {
	display:flex;
}

.terminosYcondiciones p {
	padding-left: 5px;
	margin:0;
	margin-bottom: 2px;
}

/*----------BOTONES CONTACTO..........*/


button.limpiarFormulario {
padding: 6px;
background:#E6E7E8;
color:#555;
border: 2px solid #6A67CE;
cursor: pointer;
border-radius: 150px;
font-size: 12px;
}

button.enviarFormulario {
padding: 6px;
background:#E6E7E8;
color:#555;
cursor: pointer;
border-radius: 150px;
font-size: 12px;
border: 2px solid #6A67CE;
}


button.limpiarFormulario:hover {
	background-color: #2ABFCA; 
	border: 2px solid #2ABFCA;
}

button.enviarFormulario:hover {
	background-color: #2ABFCA;
	border: 2px solid #2ABFCA;
}

input:focus {
	outline:0;
	border-color:#6A67CE;
}

.flexFormContacto input {
background-color: transparent;
margin-bottom: 1rem;
border:0;
border-bottom: 2px solid  rgba(106, 103, 206, 0.3);
}

.flexFormContacto input:focus {
outline:0;
border-color: #6A67CE;
}


/*---------------SERVICIOS----------------*/

.gridAreaServicios {
	display: grid;
	grid-gap: 10px;

	grid-template-columns: 370px 370px 370px;
	grid-template-rows: 200px 330px;
	grid-template-areas:
		"tituloServ      tituloServ       tituloServ "
	 	"itemsSerUno     itemsSerDos      itemsserTres";

	align-items: stretch;
	justify-items: stretch;
}

.gridServiciosTitulo { grid-area:tituloServ;}
.gridServiciosItemUno { grid-area: itemsSerUno;}
.gridServiciosItemDos { grid-area: itemsSerDos;}
.gridServiciosItemTres { grid-area:itemsSerTres;}


.gridServiciosItemUno {
	display:flex;
	flex-direction: row;
}

.gridServiciosItemDos {
	display:flex;
	flex-direction: row;
}

.gridSeviciosItemTres {
	display:flex;
	flex-direction: row;
}

.servicioI {
	border-right: 3px solid rgb(106, 103, 206);
	height: 265px;
}

.servicioIcon {
		display: flex;
		flex-direction: column;
		height: 200px;
		margin: auto;
		justify-content: center;
		width: 55px;
		font-size: 40px;
}

.gridServicioTituloCombos {
	margin: auto;
}


.gridServiciosFondo{
	display: grid;
	grid-gap: 10px;
	width: 1200;
	grid-template-columns: 370px 370px 370px;
	grid-template-rows:  100px 1fr 100px;
	grid-template-areas:
		"tituloCombos    tituloCombos     tituloCombos"
		"comboSerUno     comboSerDos      comboSerTres";

	align-items: stretch;
	justify-items: stretch;
	justify-content: center;
}

.gridServicioTituloCombos { grid-area:tituloCombos;}

.servicioscombosUno {
	background-color: white;
	padding:30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
}

.servicioscombosUno:hover {
	transform: scale(1.1);
	background-color:#CECCFF;
	transition: 1000ms ease-in-out;
	}

.servicioscombosDos {
	background-color: white;
	padding:30px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 300px;
}

.servicioscombosDos:hover {
	transform: scale(1.1);
	background-color:#CECCFF;
	transition: 1000ms ease-in-out;
	}

.servicioscombosTres {
	background-color: white;
	padding:30px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 300px;
}

.servicioscombosTres:hover {
	transform: scale(1.1);
	background-color:#CECCFF;
	transition: 1000ms ease-in-out;
	}

.iconCombo {
	font-size: 45px;
	padding-bottom: 5px;
}

.servicioscombosUno p {
	text-align: center;
}
.servicioscombosDos p {
	text-align: center;
}

.servicioscombosTres p {
	text-align: center;
}


.tituloCombosSer  {
	text-transform: uppercase;
	font-weight:bold;
	text-align: center;
	margin-bottom: 5px;
}

