@charset "UTF-8";
:root {
  font-size: 17px; }

/*$marginB:10px;
$marginR:5px;
$borderR:15px;
$padding:10px;
$paddingBtn:6px;
$border:2px solid #6A67CE;
*/
h2 {
  font-family: "magra";
  text-transform: uppercase; }

h3 {
  font-family: "magra";
  text-transform: uppercase; }

h4 {
  font-family: "magra"; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

body {
  position: relative;
  padding-bottom: 200px;
  padding-top: 150px;
  background-color: #F7F7F7;
  line-height: 1.7;
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 5.3rem; }

h2 {
  font-size: 2.65rem; }

h3 {
  font-size: 1.76667rem; }

h4 {
  font-size: 1.325rem; }

h5 {
  font-size: 1.06rem; }

h6 {
  font-size: 0.88333rem; }

.container {
  margin: auto; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  padding-left: .5rem;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 15px; }

/* HEADER*/
.bgColor {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  color: black; }
  .bgColor.color-violeta {
    background-color: #6A67CE; }
  .bgColor.color-violeta-claro {
    background-color: #CECCFF; }
  .bgColor.color-verde {
    background-color: #2ABFCA; }

.navbar .navbar-nav {
  list-style: none;
  font-family: "lato";
  font-weight: bold;
  font-size: 1rem; }
  .navbar .navbar-nav .btn {
    border: 0px;
    font-weight: bold;
    line-height: 1.7; }
  .navbar .navbar-nav a {
    text-transform: uppercase; }
  .navbar .navbar-nav .nav-link {
    padding: 10px;
    border-radius: 15px;
    color: white; }
    .navbar .navbar-nav .nav-link.color-violeta {
      background-color: #6A67CE; }
    .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link[aria-expanded="true"] {
      color: white;
      border-color: #2ABFCA;
      background-color: #2ABFCA; }
    .navbar .navbar-nav .nav-link:active {
      background-color: #2ABFCA;
      box-shadow: 0 2px #666;
      transform: translateY(2px); }
    .navbar .navbar-nav .nav-link.color-violeta-claro {
      background-color: #CECCFF; }
    .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link[aria-expanded="true"] {
      color: white;
      border-color: #2ABFCA;
      background-color: #2ABFCA; }
    .navbar .navbar-nav .nav-link:active {
      background-color: #2ABFCA;
      box-shadow: 0 2px #666;
      transform: translateY(2px); }
    .navbar .navbar-nav .nav-link.color-verde {
      background-color: #2ABFCA; }
    .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link[aria-expanded="true"] {
      color: white;
      border-color: #2ABFCA;
      background-color: #2ABFCA; }
    .navbar .navbar-nav .nav-link:active {
      background-color: #2ABFCA;
      box-shadow: 0 2px #666;
      transform: translateY(2px); }

.navbar .navbar-toggler {
  background-color: #2ABFCA;
  cursor: pointer; }
  .navbar .navbar-toggler span {
    font-size: 3rem; }
  .navbar .navbar-toggler.color-violeta {
    color: #6A67CE; }
    .navbar .navbar-toggler.color-violeta:hover, .navbar .navbar-toggler.color-violeta[aria-expanded="true"] {
      color: white; }
  .navbar .navbar-toggler.color-violeta-claro {
    color: #CECCFF; }
    .navbar .navbar-toggler.color-violeta-claro:hover, .navbar .navbar-toggler.color-violeta-claro[aria-expanded="true"] {
      color: white; }
  .navbar .navbar-toggler.color-verde {
    color: #2ABFCA; }
    .navbar .navbar-toggler.color-verde:hover, .navbar .navbar-toggler.color-verde[aria-expanded="true"] {
      color: white; }

.navbar .navbar-collapse {
  flex-grow: 0; }

.navbar .navbar-expand-lg {
  justify-content: center; }

.navbar .dropdown-menu {
  background-color: white; }

.dropdown-item {
  background-color: white; }
  .dropdown-item:hover {
    background-color: #2ABFCA; }

.modal-contacto .modal-content {
  background-color: transparent;
  border: 0px; }
  .modal-contacto .modal-content .modal-header {
    border-bottom: 0px; }
    .modal-contacto .modal-content .modal-header .close {
      background-color: #2ABFCA;
      opacity: 100; }
      .modal-contacto .modal-content .modal-header .close:hover {
        opacity: .5; }

/* PÃGINAS */
/*INDEX*/
/*carrousel*/
/*.carousel-inner {
    
    margin: auto; 
}*/
/* servicios*/
.color-white {
  background-color: white; }
  .color-white .container .comboIndex {
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center; }
    .color-white .container .comboIndex .card {
      border: 0;
      text-align: center;
      margin: auto;
      height: 280px; }
      .color-white .container .comboIndex .card .iconCombo {
        font-size: 45px;
        padding-bottom: 5px;
        text-align: center;
        color: #2ABFCA; }
        .color-white .container .comboIndex .card .iconCombo i {
          color: #6A67CE;
          padding-top: 10px; }
      .color-white .container .comboIndex .card h4 {
        color: #2ABFCA;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
        font-family: "magra"; }
      .color-white .container .comboIndex .card .line {
        border-top: 0.35rem solid #2ABFCA;
        margin: auto;
        width: 50px; }
      .color-white .container .comboIndex .card p {
        line-height: 1.5;
        padding-top: .5rem;
        margin-left: 3rem;
        margin-right: 3rem;
        font-weight: bold; }

.col-sm p {
  text-align: center; }

.col-sm h3 {
  text-align: center; }

.tituloCombos {
  padding: 50px;
  align-items: center;
  text-align: center; }

/*nosotros*/
.nosotrosIndexTexto h3 {
  padding-top: 1.5rem;
  padding-bottom: 0.7rem;
  color: #6A67CE; }

.nosotrosIndexTexto p {
  font-size: 18px; }
  .nosotrosIndexTexto p strong {
    font-size: 18px; }

.botonIzquierda {
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px; }
  .botonIzquierda:hover {
    color: white; }
  .botonIzquierda p {
    margin-bottom: 10px; }

.btn {
  border-radius: 15rem;
  border: 3px solid; }

.btn-outline-success {
  border-color: #2ABFCA;
  color: #2ABFCA; }
  .btn-outline-success.color-violeta {
    background-color: #6A67CE; }
  .btn-outline-success:hover {
    color: white;
    border-color: #2ABFCA;
    background-color: #2ABFCA; }
  .btn-outline-success:active {
    background-color: #6A67CE;
    box-shadow: 0 2px #666;
    transform: translateY(2px); }
  .btn-outline-success.color-violeta-claro {
    background-color: #CECCFF; }
  .btn-outline-success:hover {
    color: white;
    border-color: #2ABFCA;
    background-color: #2ABFCA; }
  .btn-outline-success:active {
    background-color: #6A67CE;
    box-shadow: 0 2px #666;
    transform: translateY(2px); }
  .btn-outline-success.color-verde {
    background-color: #2ABFCA; }
  .btn-outline-success:hover {
    color: white;
    border-color: #2ABFCA;
    background-color: #2ABFCA; }
  .btn-outline-success:active {
    background-color: #6A67CE;
    box-shadow: 0 2px #666;
    transform: translateY(2px); }

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #6A67CE;
  border-color: #6A67CE; }

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #2ABFCA; }

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem #CECCFF; }

/*combos*/
.combos h3 {
  text-align: center;
  padding-bottom: 2rem;
  color: #6A67CE;
  font-weight: bold; }

.combos .card.color-violeta {
  border: 3px solid #6A67CE;
  background-color: #f6f6fc; }

.combos .card.color-violeta-claro {
  border: 3px solid #CECCFF;
  background-color: #f6f6fc; }

.combos .card.color-verde {
  border: 3px solid #2ABFCA;
  background-color: #f6f6fc; }

.combos .card .serviciosCombosTitle {
  font-weight: bold;
  color: #6A67CE; }

.nosotrosTitulo {
  margin-top: 3rem;
  text-align: center; }

.redesNosotros {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem; }
  .redesNosotros a.color-violeta {
    color: #6A67CE; }
    .redesNosotros a.color-violeta:hover {
      color: #2f2c89; }
  .redesNosotros a.color-violeta-claro {
    color: #CECCFF; }
    .redesNosotros a.color-violeta-claro:hover {
      color: #544dff; }
  .redesNosotros a.color-verde {
    color: #2ABFCA; }
    .redesNosotros a.color-verde:hover {
      color: #145b60; }

/*PORTFOLIO*/
.galeria {
  padding: 15px;
  border: 1px solid #2ABFCA; }
  .galeria a:hover {
    opacity: 0.6; }
  .galeria a .hover-card-galeria:hover {
    background-color: red; }
  .galeria .card-body .card-title {
    color: #6A67CE; }
  .galeria .card-body p {
    color: #58595B; }
  .galeria:hover {
    border: 3px solid #6A67CE; }

.row-cols-md-3 .modal {
  width: 100%;
  height: 100%; }
  .row-cols-md-3 .modal .modal-dialog {
    margin: 1.75rem auto; }

.row-cols-md-3 > * {
  max-width: 100%; }

/*SERVICIOS*/
.servicios {
  display: flex;
  flex-direction: row;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: center; }
  .servicios .serviciosItem {
    display: flex;
    flex-direction: row;
    padding: 20px; }
    .servicios .serviciosItem .servicioI {
      border-right: 3px solid #6A67CE;
      height: 265px; }
      .servicios .serviciosItem .servicioI .servicioIcon {
        display: flex;
        flex-direction: column;
        height: 200px;
        margin: auto;
        justify-content: center;
        width: 55px;
        font-size: 40px; }
  .servicios div ul {
    list-style: none; }

/*combos .card en index, linea 164*/
/*CONTACTO*/
.containerForm {
  background-color: #E6E7E8;
  display: block;
  margin: auto;
  padding: 20px;
  border: 15px solid #6A67CE;
  border-radius: 15px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px; }
  .containerForm .flexFormContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .containerForm .flexFormContacto p {
      margin-bottom: 5px; }
    .containerForm .flexFormContacto input {
      border-radius: 15px;
      border: 2px solid #6A67CE;
      background-color: white; }
    .containerForm .flexFormContacto input:focus {
      outline: 0;
      border: 2px solid #6A67CE;
      background-color: #2ABFCA;
      color: white; }
  .containerForm .nombreForm {
    background-color: rgba(106, 103, 206, 0.3);
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 15px;
    padding: 10px; }
    .containerForm .nombreForm .form-control {
      padding: 0.475rem 1rem; }
  .containerForm .emailForm {
    background-color: rgba(106, 103, 206, 0.3);
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 15px;
    padding: 10px; }
    .containerForm .emailForm .form-control {
      padding: 0.475rem 1rem; }
  .containerForm .telefonoForm {
    background-color: rgba(106, 103, 206, 0.3);
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 15px;
    padding: 10px; }
    .containerForm .telefonoForm .form-group input {
      border: 2px solid #6A67CE;
      border-radius: 15px; }
    .containerForm .telefonoForm input:focus {
      outline: 0;
      border: 2px solid #6A67CE;
      background-color: #2ABFCA;
      color: white; }
  .containerForm .estadoCivilForm {
    background-color: rgba(106, 103, 206, 0.3);
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 15px;
    padding: 10px;
    max-width: 300px; }
    .containerForm .estadoCivilForm select {
      border-radius: 10px;
      padding: 5px;
      border: none; }
  .containerForm .textareaForm {
    background-color: rgba(106, 103, 206, 0.3);
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 15px;
    padding: 10px; }
    .containerForm .textareaForm textarea {
      border-radius: 15px;
      padding: 2px;
      border: none; }
  .containerForm .terminosYcondiciones {
    padding-top: 15px; }
  .containerForm .limpiarFormulario {
    padding: 6px;
    background-color: #F7F7F7;
    color: #6A67CE;
    border: 2px solid #6A67CE;
    cursor: pointer;
    border-radius: 150px;
    font-size: 12px;
    text-transform: uppercase; }
    .containerForm .limpiarFormulario:hover {
      background-color: #2ABFCA;
      border: 2px solid #2ABFCA;
      color: white; }
  .containerForm .enviarFormulario {
    padding: 6px;
    background-color: #F7F7F7;
    color: #6A67CE;
    border: 2px solid #6A67CE;
    cursor: pointer;
    border-radius: 150px;
    font-size: 12px;
    text-transform: uppercase; }
    .containerForm .enviarFormulario:hover {
      background-color: #2ABFCA;
      border: 2px solid #2ABFCA;
      color: white; }

/* FOOTER*/
.blockquote {
  background-color: #6A67CE;
  width: 100%;
  height: 80px;
  color: #E6E7E8;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px; }

/*RESPONSIVE*/
@media (min-width: 576px) and (max-width: 1200px) {
  .nosotrosIndex {
    flex-direction: column;
    max-width: 100%; }
  .serviciosContainer {
    flex-direction: column;
    max-width: 100%; }
  .nosotrosIndexTexto {
    max-width: 100%;
    margin-top: 1rem; }
    .nosotrosIndexTexto .col-md-8 {
      flex: 0 0 100%;
      max-width: 100%; }
    .nosotrosIndexTexto .nosotrosIndexImagen {
      max-width: 100%;
      flex-direction: column; }
    .nosotrosIndexTexto .servicios {
      flex-direction: column;
      max-width: 100%;
      align-items: center; }
    .nosotrosIndexTexto .navbar-expand-lg {
      justify-content: center; } }

@media (max-width: 991px) {
  .navbar-expand-lg {
    justify-content: space-between; }
  .comboIndex .card-deck {
    flex-direction: column;
    flex-wrap: wrap; }
    .comboIndex .card-deck .col-sm-4 {
      max-width: 70%; } }

@media (min-width: 991px) {
  .navbar-expand-lg {
    justify-content: center; } }

@media (max-width: 767px) {
  .card-deck {
    flex-direction: column; }
    .card-deck .card {
      margin-bottom: 1rem; }
  .comboIndex {
    flex-direction: column; }
    .comboIndex .col-sm-4 {
      max-width: 100%; }
  .serviciosContainer {
    flex-direction: column;
    max-width: 100%; }
  .servicios {
    flex-direction: column;
    max-width: 100%;
    align-items: center; }
  .containerForm .flexFormContacto {
    flex-wrap: wrap;
    flex-direction: column; } }

@media (min-width: 768px) {
  .nosotrosIndex .col-md-8 {
    max-width: 100%; } }
