@charset "UTF-8";
:root {
  font-size: 17px; }

/*$marginB:10px;
$marginR:5px;
$borderR:15px;
$padding:10px;
$paddingBtn:6px;
$border:2px solid #6A67CE;
*/
h2 {
  font-family: "magra";
  text-transform: uppercase; }

h3 {
  font-family: "magra";
  text-transform: uppercase; }

h4 {
  font-family: "magra"; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

body {
  position: relative;
  padding-bottom: 200px;
  padding-top: 200px;
  background-color: #F7F7F7;
  line-height: 1.7;
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 5.4rem; }

h2 {
  font-size: 2.7rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.35rem; }

h5 {
  font-size: 1.08rem; }

h6 {
  font-size: 0.9rem; }

.container {
  margin: auto; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  padding-left: .5rem;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 15px; }

/* HEADER*/
.bg-color {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  color: black; }
  .bg-color.color-violeta {
    background-color: #6A67CE; }
  .bg-color.color-violeta-claro {
    background-color: #CECCFF; }
  .bg-color.color-verde {
    background-color: #2ABFCA; }

.navbar .navbar-nav {
  list-style: none;
  font-family: "lato";
  font-weight: bold;
  font-size: 1rem; }
  .navbar .navbar-nav .btn {
    border: 0px;
    font-weight: bold;
    line-height: 1.7; }
  .navbar .navbar-nav a {
    text-transform: uppercase; }
  .navbar .navbar-nav .nav-link {
    padding: 10px;
    border-radius: 15px;
    color: white; }
    .navbar .navbar-nav .nav-link.color-violeta {
      background-color: #6A67CE; }
    .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link[aria-expanded="true"] {
      color: white;
      border-color: #2ABFCA;
      background-color: #2ABFCA; }
    .navbar .navbar-nav .nav-link:active {
      background-color: #2ABFCA;
      box-shadow: 0 2px #666;
      transform: translateY(2px); }
    .navbar .navbar-nav .nav-link.color-violeta-claro {
      background-color: #CECCFF; }
    .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link[aria-expanded="true"] {
      color: white;
      border-color: #2ABFCA;
      background-color: #2ABFCA; }
    .navbar .navbar-nav .nav-link:active {
      background-color: #2ABFCA;
      box-shadow: 0 2px #666;
      transform: translateY(2px); }
    .navbar .navbar-nav .nav-link.color-verde {
      background-color: #2ABFCA; }
    .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link[aria-expanded="true"] {
      color: white;
      border-color: #2ABFCA;
      background-color: #2ABFCA; }
    .navbar .navbar-nav .nav-link:active {
      background-color: #2ABFCA;
      box-shadow: 0 2px #666;
      transform: translateY(2px); }

.navbar .navbar-toggler {
  background-color: #2ABFCA;
  padding: 1rem;
  cursor: pointer; }
  .navbar .navbar-toggler span {
    font-size: 2rem; }
  .navbar .navbar-toggler.color-violeta {
    color: #6A67CE; }
    .navbar .navbar-toggler.color-violeta:hover, .navbar .navbar-toggler.color-violeta[aria-expanded="true"] {
      color: white; }
  .navbar .navbar-toggler.color-violeta-claro {
    color: #CECCFF; }
    .navbar .navbar-toggler.color-violeta-claro:hover, .navbar .navbar-toggler.color-violeta-claro[aria-expanded="true"] {
      color: white; }
  .navbar .navbar-toggler.color-verde {
    color: #2ABFCA; }
    .navbar .navbar-toggler.color-verde:hover, .navbar .navbar-toggler.color-verde[aria-expanded="true"] {
      color: white; }

.navbar .navbar-collapse {
  flex-grow: 0; }

.navbar .navbar-expand-lg {
  justify-content: center; }

.navbar .dropdown-menu {
  background-color: white; }

.dropdown-item {
  background-color: white; }
  .dropdown-item:hover {
    background-color: #2ABFCA; }

.modal-contacto .modal-content {
  background-color: transparent;
  border: 0px; }
  .modal-contacto .modal-content .modal-header {
    border-bottom: 0px; }
    .modal-contacto .modal-content .modal-header .close {
      background-color: #2ABFCA;
      opacity: 100; }
      .modal-contacto .modal-content .modal-header .close:hover {
        opacity: .5; }

/* PÁGINAS */
/*INDEX*/
/*carrousel*/
/*.carousel-inner {
    
    margin: auto; 
}*/
/* servicios*/
.color-white {
  background-color: white; }
  .color-white .container .ideas-index {
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center; }
    .color-white .container .ideas-index .card {
      border: 0;
      text-align: center;
      margin: auto;
      height: 280px; }
      .color-white .container .ideas-index .card .icon-ideas {
        font-size: 45px;
        padding-bottom: 5px;
        text-align: center;
        color: #2ABFCA; }
      .color-white .container .ideas-index .card h4 {
        color: #2ABFCA;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
        font-family: "magra"; }
      .color-white .container .ideas-index .card .line {
        border-top: 0.35rem solid #2ABFCA;
        margin: auto;
        width: 50px; }
      .color-white .container .ideas-index .card p {
        line-height: 1.5;
        padding-top: .5rem;
        margin-left: 3rem;
        margin-right: 3rem;
        font-weight: bold; }

.col-sm p {
  text-align: center; }

.col-sm h3 {
  text-align: center; }

/*nosotros*/
.nosotros-index {
  margin-top: 6rem;
  margin-bottom: 6rem; }
  .nosotros-index .nosotros-index-texto {
    border-radius: 15px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 2rem 2.5rem;
    margin-top: 2em;
    margin-bottom: 2rem; }
    .nosotros-index .nosotros-index-texto h2 {
      color: #6A67CE; }
    .nosotros-index .nosotros-index-texto h5 {
      line-height: 1.7;
      font-weight: bold;
      font-size: 1.2rem; }

.boton-izquierda {
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px; }
  .boton-izquierda:hover {
    color: white; }
  .boton-izquierda p {
    margin-bottom: 10px; }

.btn {
  border-radius: 15rem;
  border: 3px solid #2ABFCA; }

.btn-outline-success {
  border-color: #2ABFCA;
  color: #2ABFCA; }
  .btn-outline-success.color-violeta {
    background-color: #6A67CE; }
  .btn-outline-success:hover {
    color: white;
    border-color: #2ABFCA;
    background-color: #2ABFCA; }
  .btn-outline-success:active {
    background-color: #6A67CE;
    box-shadow: 0 2px #666;
    transform: translateY(2px); }
  .btn-outline-success.color-violeta-claro {
    background-color: #CECCFF; }
  .btn-outline-success:hover {
    color: white;
    border-color: #2ABFCA;
    background-color: #2ABFCA; }
  .btn-outline-success:active {
    background-color: #6A67CE;
    box-shadow: 0 2px #666;
    transform: translateY(2px); }
  .btn-outline-success.color-verde {
    background-color: #2ABFCA; }
  .btn-outline-success:hover {
    color: white;
    border-color: #2ABFCA;
    background-color: #2ABFCA; }
  .btn-outline-success:active {
    background-color: #6A67CE;
    box-shadow: 0 2px #666;
    transform: translateY(2px); }

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #6A67CE;
  border-color: #6A67CE; }

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #2ABFCA; }

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem #CECCFF; }

/*combos*/
.combos {
  padding-top: 4rem;
  padding-bottom: 6rem; }
  .combos h2 {
    text-align: center;
    color: #6A67CE;
    font-weight: bold;
    margin-bottom: 2rem; }
  .combos h5 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 3rem; }
  .combos .card.color-violeta {
    border: 3px solid #6A67CE;
    background-color: #f6f6fc; }
  .combos .card.color-violeta-claro {
    border: 3px solid #CECCFF;
    background-color: #f6f6fc; }
  .combos .card.color-verde {
    border: 3px solid #2ABFCA;
    background-color: #f6f6fc; }
  .combos .card .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #6A67CE;
    transition: .5s ease;
    border-radius: 100%;
    color: transparent; }
  .combos .card:hover .overlay {
    opacity: .8;
    border-radius: 0;
    height: auto;
    width: 100%;
    margin: auto;
    transform-origin: center center;
    color: transparent; }
    .combos .card:hover .overlay .texto-combo-hover {
      display: flex;
      flex-direction: row;
      color: white;
      align-items: center;
      justify-content: right;
      margin-top: 16rem; }
      .combos .card:hover .overlay .texto-combo-hover h4 {
        font-family: "magra";
        text-align: center;
        margin-bottom: 0;
        color: white;
        margin-right: 0.5rem; }
      .combos .card:hover .overlay .texto-combo-hover i {
        padding-right: 1rem;
        color: #4dd0da;
        font-size: 3rem;
        line-height: 0; }
  .combos .card .imagen-combo-hover {
    display: block;
    width: 100%;
    height: auto; }

.nosotros {
  justify-content: center; }
  .nosotros .nosotros-texto {
    border-radius: 15px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 1rem 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 100%; }
    .nosotros .nosotros-texto h2 {
      color: #6A67CE; }
    .nosotros .nosotros-texto h5 {
      line-height: 1.7;
      font-weight: bold;
      font-size: 1.2rem; }
    .nosotros .nosotros-texto .nosotros-footer {
      background-color: #fff;
      border: 0; }
      .nosotros .nosotros-texto .nosotros-footer .redes-nosotros {
        display: flex;
        align-items: center;
        justify-content: space-around; }
        .nosotros .nosotros-texto .nosotros-footer .redes-nosotros .redes-iconos {
          border-radius: 15px;
          padding-right: 20px;
          padding-left: 15px;
          padding-right: 15px; }
          .nosotros .nosotros-texto .nosotros-footer .redes-nosotros .redes-iconos:hover {
            background-color: #2ABFCA; }
          .nosotros .nosotros-texto .nosotros-footer .redes-nosotros .redes-iconos div {
            font-size: 2rem; }
            .nosotros .nosotros-texto .nosotros-footer .redes-nosotros .redes-iconos div.color-violeta {
              color: #6A67CE; }
            .nosotros .nosotros-texto .nosotros-footer .redes-nosotros .redes-iconos div.color-violeta-claro {
              color: #CECCFF; }
            .nosotros .nosotros-texto .nosotros-footer .redes-nosotros .redes-iconos div.color-verde {
              color: #2ABFCA; }
  .nosotros .nosotros-imagen .img-fluid {
    border-radius: 15px; }

.habilidades-padding {
  padding-top: 1rem;
  padding-bottom: 4rem; }
  .habilidades-padding .habilidades-titulo {
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #6A67CE;
    text-align: center; }

.row-habilidades {
  justify-content: space-around; }
  .row-habilidades .habilidades-left {
    margin-top: 2rem;
    margin-left: 2rem; }
    .row-habilidades .habilidades-left .grid-lista-nosotros {
      display: grid;
      grid-template-columns: repeat(6, auto);
      grid-auto-rows: 3rem;
      margin: auto;
      grid-gap: 13px; }
      .row-habilidades .habilidades-left .grid-lista-nosotros .lista-grid {
        grid-column-start: 2;
        grid-column-end: 7;
        display: flex;
        justify-content: start;
        text-align: center;
        align-items: center;
        font-size: 1rem;
        font-weight: bold; }
      .row-habilidades .habilidades-left .grid-lista-nosotros .lista-grid-numeracion {
        font-weight: bold;
        display: flex;
        font-size: 1.1rem;
        justify-content: center;
        color: white;
        text-align: center;
        align-items: center;
        font-weight: bold; }
        .row-habilidades .habilidades-left .grid-lista-nosotros .lista-grid-numeracion .div-verde {
          background-color: #2ABFCA;
          width: 2rem; }
  .row-habilidades .habilidades-right {
    margin: auto;
    margin-top: 2rem; }
    .row-habilidades .habilidades-right .card-deck .card {
      margin-bottom: 30px;
      margin-left: 20px;
      margin-right: 20px; }
    .row-habilidades .habilidades-right .card-deck .card-habilidades {
      border: 3px solid #2ABFCA;
      width: 200px;
      height: 200px; }
      .row-habilidades .habilidades-right .card-deck .card-habilidades .card-body .card-title {
        font-size: 4rem;
        color: #2ABFCA;
        text-align: center; }
      .row-habilidades .habilidades-right .card-deck .card-habilidades .card-text {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        line-height: 1.1; }

/*PORTFOLIO*/
.galeria {
  padding: 15px;
  border: 3px solid #2ABFCA; }
  .galeria a:hover {
    opacity: 0.6; }
  .galeria .card-body .card-title {
    color: #6A67CE;
    text-transform: uppercase; }
  .galeria .card-body p {
    color: #58595B; }
  .galeria:hover {
    border: 3px solid #6A67CE;
    opacity: .6; }

.row-cols-md-3 .modal {
  width: 100%;
  height: 100%; }
  .row-cols-md-3 .modal .modal-dialog {
    margin: 1.75rem auto; }

.row-cols-md-3 > * {
  max-width: 100%; }

/*SERVICIOS*/
.servicios {
  display: flex;
  flex-direction: row;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: center; }
  .servicios .servicios-item {
    display: flex;
    flex-direction: row;
    padding: 20px; }
    .servicios .servicios-item .servicio-i {
      border-right: 3px solid #6A67CE;
      height: 265px; }
      .servicios .servicios-item .servicio-i .servicio-icon {
        display: flex;
        flex-direction: column;
        height: 200px;
        margin: auto;
        justify-content: center;
        width: 55px;
        font-size: 40px; }
  .servicios div ul {
    list-style: none; }

.titulo-combos {
  padding: 50px;
  align-items: center;
  text-align: center; }

.servicios-combos .card.color-violeta {
  border: 3px solid #6A67CE;
  background-color: #f6f6fc; }

.servicios-combos .card.color-violeta-claro {
  border: 3px solid #CECCFF;
  background-color: #f6f6fc; }

.servicios-combos .card.color-verde {
  border: 3px solid #2ABFCA;
  background-color: #f6f6fc; }

.servicios-combos .card .servicios-combos-title {
  font-weight: bold;
  color: #6A67CE; }

/*CONTACTO*/
.container-form {
  background-color: #E6E7E8;
  display: block;
  margin: auto;
  padding: 20px;
  border: 15px solid #6A67CE;
  border-radius: 15px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px; }
  .container-form .flex-form-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .container-form .flex-form-contacto p {
      margin-bottom: 5px; }
    .container-form .flex-form-contacto input {
      border-radius: 15px;
      border: 2px solid #6A67CE;
      background-color: white; }
    .container-form .flex-form-contacto input:focus {
      outline: 0;
      border: 2px solid #6A67CE;
      background-color: #2ABFCA;
      color: white; }
  .container-form .nombre-form {
    background-color: rgba(106, 103, 206, 0.3);
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 15px;
    padding: 10px; }
    .container-form .nombre-form .form-control {
      padding: 0.475rem 1rem; }
  .container-form .email-form {
    background-color: rgba(106, 103, 206, 0.3);
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 15px;
    padding: 10px; }
    .container-form .email-form .form-control {
      padding: 0.475rem 1rem; }
  .container-form .telefono-form {
    background-color: rgba(106, 103, 206, 0.3);
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 15px;
    padding: 10px; }
    .container-form .telefono-form .form-group input {
      border: 2px solid #6A67CE;
      border-radius: 15px; }
    .container-form .telefono-form input:focus {
      outline: 0;
      border: 2px solid #6A67CE;
      background-color: #2ABFCA;
      color: white; }
  .container-form .estado-civil-form {
    background-color: rgba(106, 103, 206, 0.3);
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 15px;
    padding: 10px;
    max-width: 300px; }
    .container-form .estado-civil-form select {
      border-radius: 10px;
      padding: 5px;
      border: none; }
  .container-form .textarea-form {
    background-color: rgba(106, 103, 206, 0.3);
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 15px;
    padding: 10px; }
    .container-form .textarea-form textarea {
      border-radius: 15px;
      padding: 2px;
      border: none; }
  .container-form .terminos-y-condiciones {
    padding-top: 15px; }
  .container-form .limpiar-formulario {
    padding: 6px;
    background-color: #F7F7F7;
    color: #6A67CE;
    border: 2px solid #6A67CE;
    cursor: pointer;
    border-radius: 150px;
    font-size: 12px;
    text-transform: uppercase; }
    .container-form .limpiar-formulario:hover {
      background-color: #2ABFCA;
      border: 2px solid #2ABFCA;
      color: white; }
  .container-form .enviar-formulario {
    padding: 6px;
    background-color: #F7F7F7;
    color: #6A67CE;
    border: 2px solid #6A67CE;
    cursor: pointer;
    border-radius: 150px;
    font-size: 12px;
    text-transform: uppercase; }
    .container-form .enviar-formulario:hover {
      background-color: #2ABFCA;
      border: 2px solid #2ABFCA;
      color: white; }

/* FOOTER*/
.blockquote {
  background-color: #6A67CE;
  width: 100%;
  height: 80px;
  color: #E6E7E8;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px; }

/*RESPONSIVE*/
@media (min-width: 576px) and (max-width: 1199px) {
  .navbar-expand-lg {
    justify-content: center; }
  .nosotros-index {
    flex-direction: column;
    max-width: 100%; }
    .nosotros-index .nosotros-index-texto {
      max-width: 100%;
      margin-top: 1rem; }
    .nosotros-index .col-md-8 {
      flex: 0 0 100%;
      max-width: 100%; }
    .nosotros-index .nosotros-index-imagen {
      max-width: 100%;
      flex-direction: column; }
  .nosotros {
    flex-direction: column;
    max-width: 100%; }
    .nosotros .nosotros-texto {
      max-width: 100%;
      margin-top: 1rem; }
    .nosotros .col-md-8 {
      flex: 0 0 100%;
      max-width: 100%; }
    .nosotros .nosotros-imagen {
      max-width: 100%;
      flex-direction: column; }
  .servicios {
    flex-direction: column;
    max-width: 100%;
    align-items: center; } }

@media (max-width: 991px) {
  .navbar-expand-lg {
    justify-content: space-between; }
  .navbar .navbar-nav .btn {
    display: flex;
    justify-content: start; }
  .container .ideas-index .card-deck {
    flex-direction: column;
    flex-wrap: wrap; }
    .container .ideas-index .card-deck .col-sm-4 {
      max-width: 70%; }
  .combos .card-group .card-deck .card:hover .overlay .texto-combo-hover {
    margin-top: 6rem; }
  .row-habilidades {
    flex-direction: column; }
  .col-6-habilidades-right {
    max-width: 100%; }
  .col-4-habilidades-left {
    max-width: 60%;
    margin: auto; } }

@media (min-width: 991px) {
  .navbar-expand-lg {
    justify-content: space-between; }
  .combos .card-group .card-deck .card:hover .overlay .texto-combo-hover {
    margin-top: 8rem; } }

@media (max-width: 767px) {
  .navbar-expand-lg {
    justify-content: center; }
  .ideas-index .card-deck {
    flex-direction: column; }
    .ideas-index .card-deck .col-sm-4 {
      margin-bottom: 1rem;
      max-width: 100%; }
  .combos .card-group .card-deck {
    flex-direction: column;
    max-width: 100%; }
    .combos .card-group .card-deck .card {
      margin-bottom: 1rem; }
      .combos .card-group .card-deck .card:hover .overlay .texto-combo-hover {
        margin-top: 15rem; }
  .servicios {
    flex-direction: column;
    max-width: 100%;
    align-items: center; }
  .container-form .flex-form-contacto {
    flex-wrap: wrap;
    flex-direction: column; }
  .habilidades-right .card-deck {
    flex-direction: row; } }

@media (min-width: 768px) {
  .nosotros-index .col-md-8 {
    max-width: 100%; } }

@media (max-width: 576px) {
  .row-habilidades .habilidades-right .card-deck .card-habilidades {
    width: auto; }
  .combos .card-group .card-deck {
    flex-direction: column;
    max-width: 100%; }
    .combos .card-group .card-deck .card {
      margin-bottom: 1rem; }
      .combos .card-group .card-deck .card:hover .overlay .texto-combo-hover {
        margin-top: 15rem; } }
