/*CONTACTO*/
.containerForm {
    background-color:#E6E7E8;
    display: block;
    margin: auto;	
    padding: 20px;
    border: 15px solid $violeta;
    border-radius:15px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2);
    max-width: 600px;
   .flexFormContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        margin-bottom: 5px;
    }
    input {
        border-radius:15px;
        border: 2px solid $violeta;
        background-color:white;
    }
       
    input:focus {
        outline:0;
        border:2px solid $violeta;
        background-color: $verde;
        color: white;
    }
}
.nombreForm {
    background-color: rgba(106, 103, 206, 0.3);	
    @include sizes(10px,5px, 15px, 10px);
    .form-control {
        padding:0.475rem 1rem;
    }
}
.emailForm {
    background-color: rgba(106, 103, 206, 0.3);
    @include sizes(10px,5px, 15px, 10px);
    .form-control {
        padding:0.475rem 1rem;
    }
}

.telefonoForm {
    background-color: rgba(106, 103, 206, 0.3);
    @include sizes(10px,5px, 15px, 10px);
    .form-group {
        input {
            border: 2px solid $violeta;
            border-radius:15px;
        }    
    }
    input:focus {
        outline:0;
        border:2px solid $violeta;
        background-color: $verde;
        color: white;
    }
}
.estadoCivilForm {
    background-color: rgba(106, 103, 206, 0.3);	
    @include sizes(10px,5px, 15px, 10px);
    max-width: 300px;
    select {
        border-radius:10px;
        padding: 5px;
        border: none;
    }
}
.textareaForm {
    background-color: rgba(106, 103, 206, 0.3);	
    @include sizes(10px,5px, 15px, 10px);
        textarea {
            border-radius:15px;
            padding: 2px;
            border:none;
        }
}
.terminosYcondiciones {
    padding-top:15px;
}

.limpiarFormulario {
    @include BotonForm (6px, $gris-claro,$violeta,2px solid #6A67CE);
    cursor: pointer;
    border-radius: 150px;
    font-size: 12px;
    text-transform: uppercase;
    
    &:hover {
    background-color: $verde; 
    border: 2px solid $verde;
    color:white;
    }
} 
.enviarFormulario {
    @include BotonForm (6px,$gris-claro,$violeta,2px solid #6A67CE);
    cursor: pointer;
    border-radius: 150px;
    font-size: 12px;
    text-transform: uppercase;
    
    &:hover {
    background-color: $verde; 
    border: 2px solid $verde;
    color:white;
   }
}
}