/*INDEX*/
/*carrousel*/
/*.carousel-inner {
    
    margin: auto; 
}*/
/* servicios*/
.color-white{
    background-color: white;  
    .container {
        .comboIndex {
            padding-bottom: 3rem;
            padding-top: 3rem;
            text-align: center;
                
            .card {
                 border:0 ;text-align: center;
                .iconCombo {
                    font-size: 45px;
                    padding-bottom: 5px;
                    text-align: center; 
                    color: $verde;
                    i {
                        color: $violeta;
                        padding-top:10px;
                    }
                }
                h4 {
                    color:$verde;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 1rem;
                    font-family:"magra";
                    }
                    .line {
                        border-top: 0.35rem solid $verde;
                        margin:auto;
                        width: 50px;
                    }
                p { 
                    line-height: 1.5;
                    padding-top: .5rem;
                    margin-left: 3rem;
                    margin-right: 3rem;
                    font-weight: bold;
                }
            }
        }    
    }    
}

.col-sm {
    p {
        text-align: center;}
    h3 {
    text-align: center; }
}
.tituloCombos {
    padding: 50px;
    align-items: center;
    text-align: center;
}
/*nosotros*/
.nosotrosIndexTexto {
    h3 {
        padding-top: 1.5rem;
        padding-bottom: 0.7rem;
        color:$violeta;
        
    }
    p { font-size: 18px;
        strong {
            font-size: 18px;
        }
    }
}
.botonIzquierda {
    text-transform: uppercase;
	padding-top: 10px;
	padding-bottom:0;
	padding-right:20px; 
	padding-left:20px;
	border-radius:15px;
	cursor: pointer;
    font-size: 15px;
    &:hover {
    color:white;}
    p {
        margin-bottom:10px ;
    }
}
.btn {
    border-radius: 15rem;
    border: 3px solid; }

.btn-outline-success {
      border-color: $verde;
      color: $verde;
    @each $name, $color in $colors {
        &.color-#{$name} {background-color:($color);}        
        &:hover {
        color:white ;    
        border-color: $verde;
        background-color: $verde; }
        &:active {
            background-color: $violeta;
            box-shadow: 0 2px #666;
            transform: translateY(2px);
        }
        }
    }
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: $violeta;
    border-color: $violeta;    
}  
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $verde;
}

.btn-outline-success:focus, .btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem #CECCFF;
  }

/*combos*/
.combos {
    h3 {
        text-align: center;
        padding-bottom: 2rem;
        color: $violeta;
        font-weight: bold;
    }
    .card {
        @each $name, $color in $colors {
            &.color-#{$name} {
            @include oscuridad($color);}
        }
        .serviciosCombosTitle {
            font-weight: bold;
            color: $violeta;
        }
    }
}