
$colors: (
violeta: #6A67CE,
violeta-claro:#CECCFF,
verde:#2ABFCA);
$verde:#2ABFCA;
$violeta:#6A67CE;
$violeta-claro:#CECCFF;
$gris-claro:#F7F7F7;


/*$marginB:10px;
$marginR:5px;
$borderR:15px;
$padding:10px;
$paddingBtn:6px;
$border:2px solid #6A67CE;
*/