:root { 
    font-size: 17px;
}
// _variables.scss
@import "variables";

@mixin oscuridad($color) {
    border: 3px solid $color;
    background-color: lighten($violeta, 37%);
}
//@mixin sizes($marginB,$marginR, $borderR,$padding)//
@mixin sizes($marginB,$marginR, $borderR,$padding) {
   margin-bottom:$marginB;
   margin-right: $marginR;
   border-radius: $borderR;
   padding: $padding;
}
@mixin BotonForm ($paddingBtn, $gris-claro,$violeta,$border) {
    padding:$paddingBtn;
    background-color:$gris-claro;
    color:$violeta;
    border: $border;
}
h2 {
    font-family:"magra";
    text-transform: uppercase;
}

h3 {
    font-family:"magra";
    text-transform: uppercase;
}

h4 {
    font-family:"magra";
}
a {
    text-decoration: none;
    &:hover {
    text-decoration: none;
    }
}
body {
    position: relative;
    padding-bottom: 200px;
    padding-top: 200px;
    background-color:$gris-claro;
    line-height: 1.7;
    font-family: 'Lato', sans-serif;
}
@for $i from 1 through 6 {
    h#{$i} {font-size: 5.3rem/$i;}
}
.container {
    margin:auto;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    padding-left: .5rem;
    color: rgba(0, 0, 0, 0.9);
    border-radius: 15px; 
}
// _header.scss
@import "header";

/* PÁGINAS */
// _index.scss
@import "index";
// _nosotros.scss
@import "nosotros";
// _portfolio.scss
@import "portfolio";
// _servicios.scss
@import "servicios";
// _contacto.scss/ modal header
@import "contacto";
// _footer.scss
@import "footer";
// _responsive.scss
@import "responsive";




